.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  grid-area: title;
}

@media (max-width: 736px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }
}
