.intro__container {
  padding: 0 148px;
}

@media (max-width: 1068px) {
  .intro__container {
    padding: 0 48px;
  }
}

@media (max-width: 900px) {
  .intro__container {
    padding: 0 24px;
  }
}

@media (max-width: 736px) {
  .intro__container {
    padding: 0 16px;
  }
}
