.header__container {
  padding: 28px 48px 0;
  max-height: 52px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 900px) {
  .header__container {
    padding: 28px 24px 0;
  }
}

@media (max-width: 736px) {
  .header__container {
    padding: 16px 16px 0;
  }
}
