.lead__container {
  margin: auto;
  font-size: 0;
  padding: 0 148px;
}

@media (max-width: 1068px) {
  .lead__container {
    padding: 0 48px;
  }
}

@media (max-width: 900px) {
  .lead__container {
    padding: 0;
  }
}

@media (max-width: 736px) {
}
